/*--------------------------------------------------------------
## Attesa EDD Style
--------------------------------------------------------------*/
.edd_downloads_list .edd_download .edd_download_inner .edd_download_image img {
	width: 100%;
    display: block;
	-o-transition: filter .2s ease-in-out;
    -moz-transition: filter .2s ease-in-out;
    -webkit-transition: filter .2s ease-in-out;
    transition: filter .2s ease-in-out;
}
.edd_downloads_list .edd_download .edd_download_inner .edd_download_image.hover_blur img {
	filter:blur(0px);
}
.edd_downloads_list .edd_download:hover .edd_download_inner .edd_download_image.hover_blur img,
.edd_downloads_list .edd_download:focus .edd_download_inner .edd_download_image.hover_blur img,
.edd_downloads_list .edd_download:active .edd_download_inner .edd_download_image.hover_blur img {
	filter:blur(3px);
}
.edd_downloads_list .edd_download .edd_download_inner .edd_download_image.hover_grayscale img {
	filter:grayscale(0%);
}
.edd_downloads_list .edd_download:hover .edd_download_inner .edd_download_image.hover_grayscale img,
.edd_downloads_list .edd_download:focus .edd_download_inner .edd_download_image.hover_grayscale img,
.edd_downloads_list .edd_download:active .edd_download_inner .edd_download_image.hover_grayscale img {
	filter:grayscale(100%);
}
.edd_downloads_list .edd_download .edd_download_inner .edd_download_image.hover_invert img {
	filter:invert(0%);
}
.edd_downloads_list .edd_download:hover .edd_download_inner .edd_download_image.hover_invert img,
.edd_downloads_list .edd_download:focus .edd_download_inner .edd_download_image.hover_invert img,
.edd_downloads_list .edd_download:active .edd_download_inner .edd_download_image.hover_invert img {
	filter:invert(100%);
}
.edd_downloads_list .edd_download .edd_download_inner .edd_download_image.hover_sepia img {
	filter:sepia(0%);
}
.edd_downloads_list .edd_download:hover .edd_download_inner .edd_download_image.hover_sepia img,
.edd_downloads_list .edd_download:focus .edd_download_inner .edd_download_image.hover_sepia img,
.edd_downloads_list .edd_download:active .edd_download_inner .edd_download_image.hover_sepia img {
	filter:sepia(100%);
}
.cartedd-button {
	float: right;
	padding: 0 0.5em;
	position: relative;
}
.edd_purchase_submit_wrapper {
	font-size: 13px;
}
.edd_purchase_submit_wrapper a {
	padding: 0.4em 1em;
	display: inline-block;
	text-align: center;
    -o-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
.widget_edd_product_details .edd_purchase_submit_wrapper a {
	width: 100%;
}
body.edd-page legend {
	padding: 0 15px;
}
#edd_checkout_form_wrap label {
	display: block;
    font-weight: 700;
	margin-bottom: 5px;
	line-height: 100%;
}
#edd_checkout_form_wrap span.edd-required-indicator {
    color: red;
    display: inline;
	padding: 0 0.2em;
}
#edd_checkout_form_wrap span.edd-description {
	display: block;
	font-size: 13px;
}
#edd_checkout_form_wrap input.edd-input,
#edd_checkout_form_wrap textarea.edd-input,
#edd_checkout_form_wrap select.edd-input {
    display: inline-block;
    width: 100%;
	line-height: inherit;
}
#edd_checkout_form_wrap #edd-payment-mode-wrap .edd-gateway-option {
    font-weight: 400;
}
#edd_checkout_form_wrap #edd-payment-mode-wrap label {
    display: inline-block;
    margin: 0 20px 0 0;
}
#edd_checkout_form_wrap input[type=radio] {
    margin: 0 5px;
}
#edd_checkout_form_wrap #edd_purchase_submit,
#edd_checkout_form_wrap #edd_terms_agreement,
#edd_checkout_form_wrap #edd_register_fields,
#edd_checkout_form_wrap #edd_login_fields {
    padding: 0;
    border: none;
}
#edd_checkout_form_wrap #edd_purchase_form_wrap {
	max-width: 100%;
}
#edd_purchase_submit #edd_terms_agreement #edd_terms,
#edd_purchase_submit #edd_mailchimp #edd_terms,
#edd_purchase_submit #edd_terms_agreement>[id*="-terms-wrap"]>[id*="_terms"]>p,
#edd_purchase_submit #edd_mailchimp>[id*="-terms-wrap"]>[id*="_terms"]>p {
	max-height: 300px;
    overflow-y: scroll;
	border-style: solid;
	border-width: 1px;
	font-size: 13px;
	padding: 10px;
}
.edd-alert p {
    padding: 0;
	margin: 0;
}
.edd-alert-error {
    background: red;
	color: white;
    padding: 10px 20px;
    border: none;
    margin: 25px 0;
}
.edd_errors:not(.edd-alert) {
    margin: 0 0 21px;
    background: beige;
    color: black;
}
#edd_checkout_cart td img {
    float: left;
    margin: 0 8px 0 0;
    background: 0 0;
    padding: 0;
    border: none;
}
.eddr-cart-item-notice {
    font-size: 13px;
    padding-top: 4px;
    margin: 0;
}
#edd_checkout_cart .edd_cart_header_row th,
#edd_user_history thead .edd_purchase_row th,
#edd_sl_license_keys thead .edd_sl_license_row th,
#edd_purchase_receipt thead th,
#edd_purchase_receipt_products thead th,
#edd_sl_license_sites thead th {
    padding: 12px;
}
#edd_checkout_cart td,
#edd_checkout_cart th,
#edd_user_history td,
#edd_user_history th,
#edd_sl_license_keys td,
#edd_sl_license_keys th,
#edd_purchase_receipt td,
#edd_purchase_receipt th,
#edd_purchase_receipt_products td,
#edd_purchase_receipt_products th,
#edd_sl_license_sites td,
#edd_sl_license_sites th {
    text-align: left;
	border-style: solid;
	border-width: 1px;
    padding: .5em 1.387em;
}
#edd_checkout_cart td.edd_cart_actions,
#edd_checkout_cart td:last-child,
#edd_checkout_cart th.edd_cart_actions,
#edd_checkout_cart th.edd_cart_total,
#edd_checkout_cart th:last-child {
    text-align: right;
}
.edd_sl_license_row .view-key-wrapper {
	display: block;
	text-align: center;
}
.view-key-wrapper input.edd_sl_license_key {
    position: absolute;
    bottom: -40px;
    left: -144px;
    background-color: #333;
    color: #fff !important;
    padding: 5px 10px;
    margin: 0;
    min-width: 280px;
    border-radius: 2px;
    text-align: center;
    z-index: 9;
	cursor: text;
}
#edd_checkout_cart th.edd_cart_total {
    font-size: 120%;
}
.edd_downloads_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.edd_downloads_list .edd_download {
	margin: 1%;
	border-width: 1px;
	border-style: solid;
	-o-transition: border-color .3s ease-in-out;
    -moz-transition: border-color .3s ease-in-out;
    -webkit-transition: border-color .3s ease-in-out;
    transition: border-color .3s ease-in-out;
}
.edd_download_columns_1 .edd_download {
    width: 98%;
}
.edd_download_columns_2 .edd_download {
    width: 48%;
}
.edd_download_columns_3 .edd_download {
    width: 31.33333333%;
}
.edd_download_columns_4 .edd_download {
    width: 23%;
}
.edd_download_columns_5 .edd_download {
    width: 18%;
}
.edd_download_columns_6 .edd_download {
    width: 14.6666666667%;
}
.edd_download_columns_2 .edd_download:nth-child(2n+1),
.edd_download_columns_3 .edd_download:nth-child(3n+1),
.edd_download_columns_4 .edd_download:nth-child(4n+1),
.edd_download_columns_5 .edd_download:nth-child(5n+1),
.edd_download_columns_6 .edd_download:nth-child(6n+1) {
    clear: left;
}
.edd_downloads_list .edd_download .edd_download_inner {
	margin: 15px;
	text-align: center;
}
.edd_downloads_list .edd_download .edd_download_inner .edd_download_title {
	margin: 25px 0 15px;
    font-weight: 400;
    position: relative;
    font-size: 1.17em;
}
.edd_downloads_list .edd_download .edd_download_inner .edd_download_excerpt,
.edd_cart_remove_item_btn {
	font-size: 13px;
}
.edd_downloads_list .edd_download .edd_download_inner .edd_download_image {
	margin: -15px;
}
.edd-cart-ajax-alert {
	display: block;
}
.edd-cart-added-alert {
	font-size: 13px;
}
.edd-cart-added-alert svg {
	width: 15px;
	height: 15px;
}
.edd_price_options ul {
	margin: 0;
    padding: 0;
    list-style: none;
}
.edd-payment-icons,
#edd_purchase_submit #edd_final_total_wrap {
	text-align: center;
}
#edd_purchase_submit #edd_final_total_wrap {
	font-size: 150%;
	margin: 20px 0;
}
#edd_purchase_submit #edd_final_total_wrap strong,
#edd_purchase_submit label {
	font-weight: 400;
}
.edd-payment-icons .payment-icon {
	max-height: 35px;
	width: auto;
}
#edd-purchase-button {
	width: 100%;
}
#edd_checkout_form_wrap input[type=checkbox]+label,
#edd_checkout_form_wrap input[type=checkbox]+label:after {
    display: inline;
}
#edd_checkout_form_wrap input[type=checkbox] {
    display: inline-block;
	margin: 0 5px;
}
#edd_checkout_form_wrap fieldset#edd_sl_renewal_fields,
#edd_profile_editor_form #edd_profile_submit_fieldset {
	background: transparent;
}
#edd_profile_editor_form #edd_profile_submit_fieldset {
	padding: 0;
	border: 0;
	margin: 0;
}
fieldset#edd_discount_code #edd_show_discount,
fieldset#edd_sl_renewal_fields #edd_sl_show_renewal_form_wrap {
	margin: 0;
}
.edd_receipt_payment_status,
.edd_purchase_receipt_product_name,
.widget.widget_edd_cart_widget .edd-cart-quantity,
.widget.widget_edd_cart_widget li.edd_total,
.edd_sl_license_row .edd_sl_license_status {
	font-weight: bold;
}
.edd_receipt_payment_status.complete,
.edd_sl_license_row .edd_sl_license_status.edd-sl-active {
	color: forestgreen;
}
.edd_receipt_payment_status.pending,
.edd_sl_license_row .edd_sl_license_status.edd-sl-inactive {
    color: sandybrown;
}
.edd_receipt_payment_status.failed,
.edd_sl_license_key_expired {
    color: red;
}
.edd_receipt_payment_status.refunded {
    color: coral;
}
.edd_purchase_receipt_product_notes,
.edd_sl_license_key_expired {
	font-size: 13px;
}
.edd_purchase_receipt_files {
	margin: 0;
    padding: 0;
    list-style: none;
}
.edd_sl_license_row input.edd_sl_license_key {
	padding: 0.4em 1em;
	border-style: solid;
    border-width: 1px;
	cursor: text;
}
.edd_purchase_receipt_files li a {
	font-weight: bold;
}
#edd_profile_editor_form fieldset>p label {
    display: inline-block;
}
#edd_profile_editor_form fieldset>p input,
#edd_profile_editor_form fieldset>p select {
	width: 100%;
}
.edd-no-downloads,
.edd-no-purchases {
	background-color: antiquewhite;
	padding: 0.4em 1em;
}
.edd-alert {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid transparent;
  vertical-align: middle;
}
.edd-alert p {
  padding: 0;
}
.edd-alert p:not(:last-child) {
  margin-bottom: 5px;
}
.edd-alert p:last-child {
  margin-bottom: 0;
}
.edd-alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.edd-alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.edd-alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.edd-alert-warn {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.widget.widget_edd_cart_widget li.edd-cart-item:before,
.widget.widget_edd_categories_tags_widget li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0da";
    padding-right: 0.5em;
    float: left;
}
.widget.widget_edd_cart_widget li.edd_total {
	display: inline-block;
	padding: 1.5em 0 0.5em;
}
.widget.widget_edd_cart_widget li.edd_checkout {
	display: inline-block;
    float: right;
	padding: 1.5em 0 0.5em;
}
@media screen and (min-width: 1026px) {
	.cartedd-button-mobile{
		display: none;
	}
}
@media all and (max-width: 1025px) {
	.cartedd-button {
		display: none;
	}
	.cartedd-button-mobile {
		margin-left: 1em;
	}
	.nav-middle-top-title .cartedd-button-mobile {
		display: inline-block;
	}
}
@media all and (max-width: 767px) {
	.edd_download_columns_3 .edd_download, .edd_download_columns_5 .edd_download, .edd_download_columns_5 .edd_download {
		width: 100%;
	}
	.edd-payment-icons {
		margin-bottom: 15px;
	}
}
@media all and (max-width: 600px) {
	#edd_checkout_cart_wrap .edd_cart_item_image{
		display: none;
	}
	.edd_download_columns_2 .edd_download {
		width: 100%;
	}
	#edd_checkout_form_wrap #edd-payment-mode-wrap label {
		display: block;
		margin: 8px 0 0 0;
	}
	body.edd-page form {
		font-size: 80%;
	}
}