/*--------------------------------------------------------------
## Attesa WooCommerce Style
--------------------------------------------------------------*/
.woocommerce .wooImage .entry-wooImage img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	width: 100%;
}
.attesa_woocommerce_mini_cart .widget_shopping_cart_content {
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.site-main .woocommerce-pagination {
	overflow: hidden;
	margin: 3em 0;
    padding-bottom: 3em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.woocommerce-pagination > ul.page-numbers li a.prev {
	float: left;
}
.woocommerce-pagination > ul.page-numbers li a.next {
	float: right;
}
.woocommerce-pagination > ul.page-numbers li a {
    padding: 2px 15px;
    display: inline-block;
    -o-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
.woocommerce-pagination > ul.page-numbers li span {
	display: inline-block;
    padding: 1px 15px;
    border-width: 1px;
    border-style: solid;
	font-weight: 700;
}
.widget.woocommerce.widget_product_search input[type="search"],
.woocommerce #content form.cart .quantity input[type="number"] {
	width: 68%;
    display: inline-block;
    -webkit-appearance: none;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
	border-right-width: 0;
    padding: 4px 15px;
    line-height: 1;
	float: left;
	height: 40px;
}
.widget.woocommerce.widget_product_search button,
.woocommerce #content form.cart .button {
	width: 32%;
    display: inline-block;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
	float: right;
	height: 40px;
}
aside ul.product-categories ul.children {
	display: none;
	padding-left: 1.5em;
}
aside ul.product-categories li {
	position: relative;
    padding: 0;
}
aside ul.product-categories li a {
    padding: 0.5em 0;
	display: inline-block;
}
aside ul.product-categories li a:before {
	font-family: "Font Awesome 5 Free";
	content: "\f111";
    padding-right: 0.5em;
    float: left;
	font-weight: 400;
}
aside ul.product-categories li.current-cat a:before {
	font-weight: 900;
}
aside ul.product-categories .indiContainer {
	position: absolute;
    display: block;
    top: 0;
    right: 0;
}
aside ul.product-categories .indicatorBar {
	position: absolute;
    right: 0;
    top: 50%;
    width: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    font-family: "Font Awesome 5 Free";
	transform: translateY(-50%);
}
aside ul.product-categories .indicatorBar:before {
	content: "\f107";
	font-weight: 900;
}
aside ul.product-categories .indicatorBar.yesOpenBar:before {
	content: "\f106";
	font-weight: 900;
}
.woocommerce ul.products >li:not(.attesa-has-gallery) .wooImage.hover_blur .entry-wooImage img {
	filter:blur(0px);
}
.woocommerce ul.products >li:not(.attesa-has-gallery) .wooImage.hover_blur:hover .entry-wooImage img,
.woocommerce ul.products >li:not(.attesa-has-gallery) .wooImage.hover_blur:focus .entry-wooImage img,
.woocommerce ul.products >li:not(.attesa-has-gallery) .wooImage.hover_blur:active .entry-wooImage img {
	filter:blur(3px);
}
.woocommerce ul.products >li:not(.attesa-has-gallery) .wooImage.hover_grayscale .entry-wooImage img {
	filter:grayscale(0%);
}
.woocommerce ul.products >li:not(.attesa-has-gallery) .wooImage.hover_grayscale:hover .entry-wooImage img,
.woocommerce ul.products >li:not(.attesa-has-gallery) .wooImage.hover_grayscale:focus .entry-wooImage img,
.woocommerce ul.products >li:not(.attesa-has-gallery) .wooImage.hover_grayscale:active .entry-wooImage img {
	filter:grayscale(100%);
}
.woocommerce ul.products >li:not(.attesa-has-gallery) .wooImage.hover_invert .entry-wooImage img {
	filter:invert(0%);
}
.woocommerce ul.products >li:not(.attesa-has-gallery) .wooImage.hover_invert:hover .entry-wooImage img,
.woocommerce ul.products >li:not(.attesa-has-gallery) .wooImage.hover_invert:focus .entry-wooImage img,
.woocommerce ul.products >li:not(.attesa-has-gallery) .wooImage.hover_invert:active .entry-wooImage img {
	filter:invert(100%);
}
.woocommerce ul.products >li:not(.attesa-has-gallery) .wooImage.hover_sepia .entry-wooImage img {
	filter:sepia(0%);
}
.woocommerce ul.products >li:not(.attesa-has-gallery) .wooImage.hover_sepia:hover .entry-wooImage img,
.woocommerce ul.products >li:not(.attesa-has-gallery) .wooImage.hover_sepia:focus .entry-wooImage img,
.woocommerce ul.products >li:not(.attesa-has-gallery) .wooImage.hover_sepia:active .entry-wooImage img {
	filter:sepia(100%);
}
.woocommerce ul.products >li:not(.attesa-has-gallery) .wooImage .entry-wooImage img {
	width: 100%;
    display: block;
	-o-transition: filter .2s ease-in-out;
    -moz-transition: filter .2s ease-in-out;
    -webkit-transition: filter .2s ease-in-out;
    transition: filter .2s ease-in-out;
}
.woocommerce .woocommerce-checkout .select2-container--default .select2-selection--single {
    height: 40px;
    border-style: solid;
    border-width: 1px;
    outline: none;
    padding: 6px 9px;
}
.woocommerce .woocommerce-checkout .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}
.woocommerce-store-notice {
	position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
	z-index: 999;
	font-size: 13px;
}
.woocommerce-store-notice a.woocommerce-store-notice__dismiss-link {
	position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    background-color: rgba(0,0,0,0.1);
}
.woocommerce-store-notice a.woocommerce-store-notice__dismiss-link:before {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
	font-weight: 900;
}
.woocommerce-store-notice a:not(.woocommerce-store-notice__dismiss-link) {
	border-bottom: 1px dotted;
}
.woocommerce-result-count {
	float: left;
	margin: 0 0 1em 0;
}
.woocommerce-ordering {
	float: right;
    margin: 0 0 1em 0;
}
.woocommerce h1.page-title {
	font-weight: 400;
    font-size: 48px;
    letter-spacing: -2px;
    margin: 0;
    margin-bottom: 0.5em;
    line-height: 1.3;
}
.woocommerce ul.products {
	list-style: none;
	margin: 1.5em 0 0;
	padding: 0;
	width: 100%;
    clear: both;
}
.woocommerce ul.products > li {
	margin: 1% 1% 3em;
    display: block;
    float: left;
    position: relative;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	-o-transition: border-color .3s ease-in-out;
    -moz-transition: border-color .3s ease-in-out;
    -webkit-transition: border-color .3s ease-in-out;
    transition: border-color .3s ease-in-out;
}
ul.products.columns-1 > li {
	width: 98%;
}
ul.products.columns-2 > li {
	width: 48%;
}
ul.products.columns-3 > li {
	width: 31.3%;
}
ul.products.columns-4 > li {
	width: 23%;
}
ul.products.columns-5 > li {
	width: 18%;
}
ul.products.columns-6 > li {
	width: 14.6%;
}
ul.products.columns-1 > li:nth-child(1n+1),
ul.products.columns-2 > li:nth-child(2n+1),
ul.products.columns-3 > li:nth-child(3n+1),
ul.products.columns-4 > li:nth-child(4n+1),
ul.products.columns-5 > li:nth-child(5n+1),
ul.products.columns-6 > li:nth-child(6n+1) {
	clear: both;
}
.woocommerce ul.products > li h2 {
	margin: 0.5em 0;
	font-weight: 400;
	position: relative;
	font-size: 1.17em;
}
.woocommerce ul.products > li .star-rating {
	margin: 0 auto;
}
.woocommerce .content-area .images {
	width: 53%;
    float: left;
	margin: 0 0 1.5em;
	position: relative;
}
.woocommerce div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    height: 32px;
    width: 32px;
    z-index: 99;
    text-align: center;
    text-indent: -999px;
    overflow: hidden;
}
.woocommerce div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:before {
    font-family: "Font Awesome 5 Free";
    font-size: inherit;
    text-rendering: auto;
    display: block;
    content: '\f065';
    line-height: 32px;
    text-indent: 0;
	font-weight: 900;
}
.woocommerce .content-area .summary {
	width: 43%;
    float: right;
	margin: 0 0 1.5em;
	position: relative;
}
.woocommerce .content-area .summary h1.entry-title,
.woocommerce .related h2,
.woocommerce .woocommerce-tabs .panel > h2,
.woocommerce .woocommerce-tabs .panel .woocommerce-Reviews-title {
	margin: 0;
	letter-spacing: -1px;
	font-weight: 400;
	font-size: 32px;
}
.woocommerce .woocommerce-tabs .panel > h2,
.woocommerce .woocommerce-tabs .panel .woocommerce-Reviews-title {
	margin-bottom: 1em;
}
.prev_next_buttons {
	position: absolute;
	right: 0;
    top: 0;
}
.prev_next_buttons a {
	position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-style: solid;
    border-width: 1px;
	-o-transition: border-color .3s ease-in-out;
    -moz-transition: border-color .3s ease-in-out;
    -webkit-transition: border-color .3s ease-in-out;
    transition: border-color .3s ease-in-out;
}
.attesa-prevnext-container {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	padding-top: 10px;
    right: 0;
	width: 100px;
	transition: visibility 0s linear 0.2s,opacity 0.2s linear, transform 0.2s linear;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
}
.prev_next_buttons a:hover .attesa-prevnext-container,
.prev_next_buttons a:focus .attesa-prevnext-container,
.prev_next_buttons a:active .attesa-prevnext-container {
	visibility: visible;
    opacity: 1;
	transition-delay: 0s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.attesa-prevnext-container .attesa-prevnext-img img {
	display: block;
	width: 100%;
}
.woocommerce .content-area .summary .out-of-stock {
	color: red;
    font-weight: 700;
    text-transform: uppercase;
}
.woocommerce span.onsale {
	position: absolute;
    line-height: 1;
    padding: 0.5em;
    width: 150px;
    left: -40px;
    top: 20px;
    z-index: 9;
    font-size: .8em;
    letter-spacing: 1px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    text-align: center;
}
.woocommerce .content-area .woocommerce-tabs .tabs {
	list-style: none;
    padding: 0;
    margin: 0;
}
.woocommerce .content-area .woocommerce-tabs .tabs li {
	display: inline-block;
}
.woocommerce .wooImage {
	background: transparent;
	position: relative;
	padding-bottom: 15px;
}
.woocommerce .wooImage .entry-wooImage {
	position: relative;
	overflow: hidden;
}
.woocommerce .content-area .images .thumbnails {
	width: 100%;
}
.attesa-woocommerce-sticky-product {
	position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
	z-index: 999;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
	zoom: 1;
	overflow: hidden;
	-webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	-webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}
.attesa-woocommerce-sticky-product .container {
	padding: 0.8em 1em;
    margin: 0 auto;
    position: relative;
	max-width: 1240px;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.attesa-woocommerce-sticky-product .container .attesa-sticky-first {
	float: left;
	display: table;
}
.attesa-woocommerce-sticky-product .container .attesa-sticky-second {
	float: right;
    margin-left: auto;
}
.attesa-woocommerce-sticky-product .container .attesa-sticky-first .attesa-sticky-image {
	display: block;
    float: left;
}
.attesa-woocommerce-sticky-product .container .attesa-sticky-first .attesa-sticky-image img {
	max-width: 60px;
	display: block;
}
.attesa-woocommerce-sticky-product .container .attesa-sticky-first .attesa-sticky-details {
	padding: 0 1em;
	display: table-cell;
    vertical-align: middle;
    height: 60px;
}
.attesa-woocommerce-sticky-product .container .attesa-sticky-first .attesa-sticky-title {
	display: block;
	font-weight: 700;
    font-size: 20px;
    line-height: 1;
}
.attesa-woocommerce-sticky-product .container .attesa-sticky-first .attesa-sticky-price {
	display: block;
    margin: 0;
}
.attesa-woocommerce-sticky-product .container .attesa-sticky-first .attesa-sticky-price ins {
	background: none;
}
.attesa-woocommerce-sticky-product .container .attesa-sticky-first .attesa-sticky-price .amount {
	font-weight: 700;
}
.attesa-woocommerce-sticky-product .container .attesa-sticky-first .attesa-sticky-price del .amount {
	font-weight: 400;
}
.attesa-woocommerce-sticky-product .container .attesa-sticky-second .attesa-sticky-button {
	cursor: pointer;
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}
@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
}
/* WooCommerce 3.0.0 version */
.woocommerce .content-area .images figure {
	margin: 0 0 1em;
}
.woocommerce .content-area .images figure div {
	display: inline;
}
.woocommerce .content-area .images figure div:first-child {
	display: block;
	width: 100%;
}
.woocommerce .content-area .images figure div a img {
	display: block;
	width: 100%;
}
.woocommerce .content-area .images figure div:first-child a {
	display: block;
	width: 100%;
	background: inherit;
	padding: 0;
}
.woocommerce .content-area .images figure div {
	display: inline-block;
	width: 25%;
	float: left;
}
.woocommerce .content-area .images figure div:first-child a img {
	padding: 0;
}
.woocommerce .content-area .images figure div a img {
	padding: 0.1em;
}
.woocommerce-loop-category__title mark {
	background: transparent;
}
/* WooCommerce product slider */
.woocommerce .content-area .images .flex-viewport figure {
	-webkit-transition: all cubic-bezier(.795,-.035,0,1) .5s;
    transition: all cubic-bezier(.795,-.035,0,1) .5s;
    padding: 0;
    margin: 0;
}
.woocommerce .content-area .images .flex-viewport figure div img {
	padding: 0;
	display: block;
    width: 100%;
    height: auto;
}
.woocommerce .content-area .images .flex-viewport figure div {
	display: inline-block;
}
.woocommerce .content-area .images ol {
	overflow: hidden;
    zoom: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}
.woocommerce .content-area .images ol li {
	width: 25%;
    float: left;
    margin: 0;
    list-style: none;
}
.woocommerce .content-area .images ol li img {
	opacity: 0.5;
	cursor: pointer;
	width: 100%;
    display: block;
	padding: 0.1em;
}
.woocommerce .content-area .images ol li img:hover,
.woocommerce .content-area .images ol li img.flex-active {
	opacity: 1;
}
/* WooCommerce 3.0.0 version */
.woocommerce .comment-reply-title {
	text-align: inherit;
	font-weight: 700;
}
.woocommerce .product_meta > span {
	display: block;
}
.woocommerce-message {
    padding: 1.5em 1.5em 1.5em 2.5em;
	margin-bottom: 2.5em;
	border: 2px solid green;
	font-weight: 700;
	position: relative;
}
.woocommerce-info {
    padding: 1.5em 1.5em 1.5em 2.5em;
	margin-bottom: 2em;
	border: 2px solid lightblue;
	font-weight: 700;
	position: relative;
}
.woocommerce-error {
	list-style: none;
	margin: 0;
	margin-bottom: 2.5em;
	padding: 1.5em 1.5em 1.5em 2.5em;
	border: 2px solid red;
	font-weight: 700;
	position: relative;
}
.woocommerce-error li a, .woocommerce-message a {
	float: right;
	font-size: 13px;
}
.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before {
	font-family: "Font Awesome 5 Free";
    display: inline-block;
    position: absolute;
    top: 1.5em;
    left: 1em;
}
.woocommerce-checkout form.checkout_coupon,
.woocommerce-checkout form.woocommerce-form-login {
    padding: 1.5em;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 2em;
}
.woocommerce .woocommerce-message:before {
    content: "\f00c";
    color: green;
}
.woocommerce .woocommerce-error:before {
    content: "\f00d";
    color: red;
}
.woocommerce .woocommerce-info:before {
    content: "\f06a";
    color: lightblue;
}
.woocommerce div.product {
	position: relative;
	overflow: hidden;
}
.woocommerce ul.products > li .price,
.woocommerce div.product .summary .price {
	display: block;
    font-weight: 700;
    letter-spacing: 1px;
}
.woocommerce div.product .summary .price {
	font-size: 130%;
}
.woocommerce ul.products > li .price {
	font-size: 90%;
	margin-bottom: 10px;
}
.woocommerce div.product .summary .single_variation .price {
	float: left;
}
.woocommerce div.product .summary .stock {
	float: right;
	margin: 0;
	font-weight: 700;
    text-transform: uppercase;
}
.woocommerce ul.products > li .price del,
.woocommerce div.product .summary .price del {
	opacity: 0.5;
	font-size: 13px;
}
.woocommerce div.product .summary .single_variation .price del {
	display: inline;
}
.woocommerce ul.products > li .price ins,
.woocommerce div.product .summary .price ins,
.widget-area .woocommerce li ins {
	background: transparent;
}
.woocommerce div.product form.cart .button {
	text-transform: uppercase;
	padding: 1em;
}
.woocommerce #respond input#submit.added:after,
.woocommerce a.button.added:after,
.woocommerce button.button.added:after,
.woocommerce input.button.added:after {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
	font-weight: 700;
    margin-left: .53em;
	font-weight: 900;
}
.woocommerce #respond input#submit.loading:after,
.woocommerce a.button.loading:after,
.woocommerce button.button.loading:after,
.woocommerce input.button.loading:after {
    font-family: "Font Awesome 5 Free";
    content: "\f110";
	font-weight: 900;
    margin-left: .53em;
	display: inline-block;
    -webkit-animation: fa-spin 2s infinite linear;
    -moz-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
body.woocommerce form.cart {
	border-top-width: 1px;
	border-top-style: solid;
	padding-top: 1.5em;
	clear: both;
}
.woocommerce div.product form.cart .variations td.label {
	width: 35%;
    float: left;
    font-weight: 700;
    padding: 13px;
}
.woocommerce div.product form.cart .variations td.value {
	width: 65%;
    float: left;
    padding: 8px;
}
.woocommerce div.product form.cart .variations td.value select {
	width: 100%;
}
.reset_variations {
    display: none !important;
}
.woocommerce .quantity,
.woocommerce-page .quantity,
.woocommerce-page #content .quantity {
	display: inline-block;
    margin-right: 0.5em;
}
.woocommerce #content .quantity {
	display: block;
    margin: 0;
	font-size: 13px;
}
.woocommerce #content form.cart .quantity input[type="number"] {
	width: 35%;
}
.woocommerce #content form.cart .button {
	width: 65%;
}
.woocommerce .quantity input.qty,
.woocommerce #content .quantity input.qty,
.woocommerce-page .quantity input.qty,
.woocommerce-page #content .quantity input.qty {
	width: 60px;
    text-align: center;
}
.woocommerce .product_meta {
    margin: 1.5em 0 0;
}
.woocommerce .sku_wrapper,
.woocommerce .posted_in,
.woocommerce .tagged_as {
	font-weight: 700;
}
.woocommerce .sku_wrapper span,
.woocommerce .posted_in a,
.woocommerce .tagged_as a {
    font-weight: normal;
    text-transform: capitalize;
}
.woocommerce .single_variation {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
}
.woocommerce .woocommerce-tabs {
	margin: 1.5em 0;
    position: relative;
    border-style: solid;
    border-width: 1px;
    padding: 1.5em;
}
.woocommerce table.shop_attributes {
	width: 100%;
}
.woocommerce table.shop_attributes tr th {
	width: 30%;
	padding: 8px;
}
.woocommerce table.shop_attributes tr.alt th {
	background: rgba(0,0,0,0.05);
}
.woocommerce table.shop_attributes tr td {
	width: 70%;
	padding: 8px;
}
.woocommerce table.shop_attributes tr.alt td {
	background: rgba(0,0,0,0.05);
}
.woocommerce table.shop_attributes tr td p {
	margin: 0;
}
.woocommerce #reviews #comments ol.commentlist li {
	position: relative;
	padding: 0;
    margin: 0 0 1.5em;
}
.woocommerce #reviews .commentlist li .avatar {
	width: 70px;
	position: absolute;
    top: 0;
    left: 0;
    height: auto;
	margin: 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
	margin-left: 85px;
	border-style: solid;
	border-width: 1px;
	padding: 0.5em;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text .meta {
	margin: 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text .meta em,
.woocommerce form .form-row .required {
	color: red;
}
.woocommerce #reviews .comment-form-cookies-consent {
	clear: both;
}
.woocommerce #reviews .comment-respond .comment-form-author,
.woocommerce #reviews .comment-respond .comment-form-email {
	width: 50%;
}
.woocommerce #reviews #respond > p {
	margin: 0 0 1em 0;
}
.woocommerce p.stars {
	position: relative;
	margin: 0;
}
.woocommerce p.stars a {
	margin-right: 1em;
    text-indent: -9999px;
    position: relative;
	display: inline-block;
}
.woocommerce p.stars a.star-1 {
    width: 2em;
}
.woocommerce p.stars a.star-2 {
    width: 3em;
}
.woocommerce p.stars a.star-3 {
    width: 4em;
}
.woocommerce p.stars a.star-4 {
    width: 5em;
}
.woocommerce p.stars a.star-5 {
    width: 6em;
	border-right: 0;
}
.woocommerce p.stars a.star-1,
.woocommerce p.stars a.star-2,
.woocommerce p.stars a.star-3,
.woocommerce p.stars a.star-4 {
	border-right-style: solid;
	border-right-width: 1px;
}
.woocommerce p.stars a.star-1:after,
.woocommerce p.stars a.star-2:after,
.woocommerce p.stars a.star-3:after,
.woocommerce p.stars a.star-4:after,
.woocommerce p.stars a.star-5:after {
    font-family: "Font Awesome 5 Free";
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 1em;
	color: gold;
}
.woocommerce p.stars a.star-1:after {
    content: "\f005";
}
.woocommerce p.stars a.star-1:hover:after, .woocommerce p.stars a.star-1.active:after {
    content: "\f005";
	font-weight: 700;
}
.woocommerce p.stars a.star-2:after {
    content: "\f005\f005";
}
.woocommerce p.stars a.star-2:hover:after, .woocommerce p.stars a.star-2.active:after {
    content: "\f005\f005";
	font-weight: 700;
}
.woocommerce p.stars a.star-3:after {
    content: "\f005\f005\f005";
}
.woocommerce p.stars a.star-3:hover:after, .woocommerce p.stars a.star-3.active:after {
    content: "\f005\f005\f005";
	font-weight: 700;
}
.woocommerce p.stars a.star-4:after {
    content: "\f005\f005\f005\f005";
}
.woocommerce p.stars a.star-4:hover:after, .woocommerce p.stars a.star-4.active:after {
    content: "\f005\f005\f005\f005";
	font-weight: 700;
}
.woocommerce p.stars a.star-5:after {
    content: "\f005\f005\f005\f005\f005";
}
.woocommerce p.stars a.star-5:hover:after, .woocommerce p.stars a.star-5.active:after {
    content: "\f005\f005\f005\f005\f005";
	font-weight: 700;
}
body.with_fa4.woocommerce p.stars a.star-1:after {
    content: "\f006";
}
body.with_fa4.woocommerce p.stars a.star-1:hover:after, .woocommerce p.stars a.star-1.active:after {
    content: "\f005";
	font-weight: 400;
}
body.with_fa4.woocommerce p.stars a.star-2:after {
    content: "\f006\f006";
}
body.with_fa4.woocommerce p.stars a.star-2:hover:after, .woocommerce p.stars a.star-2.active:after {
    content: "\f005\f005";
	font-weight: 400;
}
body.with_fa4.woocommerce p.stars a.star-3:after {
    content: "\f006\f006\f006";
}
body.with_fa4.woocommerce p.stars a.star-3:hover:after, .woocommerce p.stars a.star-3.active:after {
    content: "\f005\f005\f005";
	font-weight: 400;
}
body.with_fa4.woocommerce p.stars a.star-4:after {
    content: "\f006\f006\f006\f006";
}
body.with_fa4.woocommerce p.stars a.star-4:hover:after, .woocommerce p.stars a.star-4.active:after {
    content: "\f005\f005\f005\f005";
	font-weight: 400;
}
body.with_fa4.woocommerce p.stars a.star-5:after {
    content: "\f006\f006\f006\f006\f006";
}
body.with_fa4.woocommerce p.stars a.star-5:hover:after, .woocommerce p.stars a.star-5.active:after {
    content: "\f005\f005\f005\f005\f005";
	font-weight: 400;
}
.star-rating {
	overflow: hidden;
	font-family: "Font Awesome 5 Free";
	position: relative;
	height: 2em;
    width: 5.60em;
	text-align: left;
}
body.with_fa4 .star-rating {
	width: 4.70em;
}
.single-product div.product .woocommerce-product-rating {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 1em;
}
.single-product div.product .woocommerce-product-rating .star-rating {
	float: left;
}
.single-product div.product .woocommerce-product-rating .woocommerce-review-link {
	float: right;
}
.star-rating span {
    overflow: hidden;
    padding-top: 1.618em;
	float: left;
    top: 0;
    left: 0;
    position: absolute;
}
.star-rating:before {
    content: "\f005\f005\f005\f005\f005";
	float: left;
    top: 0;
    left: 0;
    position: absolute;
}
.star-rating span:before {
    content: "\f005\f005\f005\f005\f005";
    color: gold;
	float: left;
    top: 0;
    left: 0;
    position: absolute;
	font-weight: 700;
}
body.with_fa4 .star-rating span:before {
	font-weight: 400;
}
.woocommerce-page .entry-content table {
    border-spacing: 0;
    width: 100%;
	border-style: solid;
	border-width: 1px;
    border-collapse: separate;
    margin-bottom: 1.5em;
}
.woocommerce-page .entry-content table thead th {
	border-bottom-style: solid;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-right-width: 1px;
    padding: 0.5em;
    vertical-align: middle;
}
.woocommerce-page .entry-content table tbody td a,
.return-to-shop a,
.woocommerce-message a {
	text-decoration: none;
}
.woocommerce-page .entry-content table td, .woocommerce-page .entry-content table th {
    padding: 0.5em;
    text-align: left;
	border-right-style: solid;
	border-right-width: 1px;
}
.woocommerce-page .entry-content table tbody td.product-remove {
	text-align: center;
}
.woocommerce-page .entry-content table tbody td.product-remove a.remove,
.widget_shopping_cart .product_list_widget li a.remove {
    display: block;
    width: 25px;
    height: 25px;
    line-height: 23px;
	text-align: center;
    border-width: 1px;
	border-style: solid;
	font-weight: 700;
    margin: 0 auto;
    position: relative;
}
.woocommerce-page .entry-content table tbody td.product-remove a.remove {
	border: none;
	color: red;
}
.woocommerce-page .entry-content table tbody tr:last-child td, .entry-content table tbody tr:last-child th {
    border-bottom: 0;
}
.woocommerce-page .entry-content table tr th:last-child, .entry-content table tr td:last-child {
    border-right: 0;
}
.woocommerce-page table.cart td.actions {
    text-align: right;
}
.woocommerce-page table.cart td.actions .coupon {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
    display: inline-block;
    float: left;
}
.woocommerce-page table.cart .product-thumbnail {
	text-align: center;
}
.woocommerce-page table.cart .product-thumbnail img {
	width: 70px;
	height: 70px;
}
.woocommerce-page table .product-name dl dt,
.woocommerce-page table .product-name dl dd,
.woocommerce-page table .product-name dl dd p,
.product_list_widget dl dt,
.product_list_widget dl dd,
.product_list_widget dl dd p {
	display: inline;
	margin: 0;
}
.woocommerce-page table .product-name dl dd,
.product_list_widget dl dd {
	margin-right: 0.5em;
}
.woocommerce-page table .product-name dl {
	margin: 0;
}
table.cart td.actions label {
    display: none;
}
.cart-collaterals .cart_totals, .cart-collaterals .shipping_calculator {
    width: 50%;
    float: right;
    margin: 0;
}
.cart-collaterals .cart_totals tr.shipping p {
	margin: 0 0 1em 0;
}
.cart-collaterals .cart_totals tr.shipping select, .cart-collaterals .cart_totals tr.shipping input[type="text"] {
	width: 100%;
}
#customer_details {
	width: 58%;
	float: left;
}
#order_review, #order_review_heading {
	width: 40%;
	float: right;
}
#order_review {
	border-width: 0 1px 1px;
}
#order_review_heading, .woocommerce-billing-fields h3 {
	clear: none;
	border-width: 1px 1px 0;
	margin: 0;
	padding: 0.5em 0;
}
#payment .payment_methods {
	list-style: none;
	margin: 0;
	padding: 0;
}
#payment .payment_methods li {
    list-style: none;
    padding: 1.5em;
    margin: 1.5em 0;
    border-width: 1px;
    border-style: solid;
}
#payment .payment_methods li label {
	font-weight: 700;
}
#payment .payment_methods li label img {
	vertical-align: top;
}
#payment .payment_methods li label a.about_paypal {
	float: right;
	font-weight: 400;
}
#payment .payment_methods li .payment_box {
	padding-top: 1em;
}
#payment .payment_methods li .payment_box p {
	margin: 0;
	font-size: 13px;
}
#payment .place-order .button {
	width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
	padding: 1em;
}
#payment .form-row.terms label {
	display: inline;
}
body.woocommerce .required {
    color: red;
	text-decoration: none;
}
.entry-content .woocommerce .form-row label {
    display: block;
}
.entry-content .woocommerce .form-row input:not([type="checkbox"]):not([type="submit"]) {
	width: 100%;
}
.entry-content .woocommerce .form-row {
	margin: 0 0 1.5em 0;
}
.entry-content .woocommerce .form-row-first {
    width: 50%;
    float: left;
    padding-right: 0.5em;
}
.entry-content .woocommerce .form-row-last {
	width: 50%;
	float: left;
	padding-left: 0.5em;
}
.entry-content .woocommerce .form-row-wide {
    clear: both;
    width: 100%;
}
.woocommerce .wishlist_table td.product-add-to-cart a {
	border-radius: 0;
	text-transform: uppercase;
    font-weight: 700;
}
.woocommerce-pagination > ul.page-numbers {
    list-style: none;
    padding: 1.5em;
    margin: 0;
    text-align: center;
}
.woocommerce-pagination > ul.page-numbers li {
	display: inline;
}
.woocommerce .wooImage .button,
.woocommerce .wooImage .added_to_cart,
.woocommerce-error li a,
.woocommerce-message a,
.return-to-shop a,
.wc-proceed-to-checkout .button.checkout-button,
.widget_shopping_cart p.buttons a,
.woocommerce .wishlist_table td.product-add-to-cart a,
.woocommerce .content-area .woocommerce-tabs .tabs li.active a,
.attesa-woocommerce-sticky-product .container .attesa-sticky-second .attesa-sticky-button {
    padding: 0.8em;
	line-height: 1;
	font-weight: 400;
	-o-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.woocommerce .content-area .woocommerce-tabs .tabs li a {
	background: transparent;
    padding: 0.8em;
	line-height: 1;
	display: inline-block;
	-o-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.woocommerce .wooImage .button,
.woocommerce .wooImage .added_to_cart {
    display: inline-block;
	font-size: 13px;
	position: relative;
}
.wc-proceed-to-checkout .button.checkout-button {
	width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
	text-decoration: none;
	padding: 1em;
    display: block;
}
/* WooCommerce Widget */
.widget_price_filter .price_slider_wrapper .ui-widget-content {
    border-radius: 1em;
}
.widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
}
.widget_price_filter .ui-slider-horizontal {
    height: 4px;
}
.widget_price_filter .price_slider {
    margin-bottom: 1.5em;
}
.widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    border-radius: 1em;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    cursor: ew-resize;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -6px;
    opacity: 1;
}
.widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin-left: -1em;
}
.widget_price_filter .price_slider_amount {
    text-align: right;
	line-height: 3;
}
.widget_price_filter .price_slider_amount .button {
    float: left;
}
.widget_shopping_cart .product_list_widget li {
    position: relative;
}
.widget_shopping_cart .product_list_widget li a.remove {
	position: absolute;
    top: 1em;
    right: 0;
    opacity: 1;
}
.widget_shopping_cart .product_list_widget li .variation {
	margin: 0;
}
.product_list_widget li img {
    width: 70px;
    margin-right: 1em;
    float: left;
}
.widget_shopping_cart p.buttons, .widget_shopping_cart p.total {
    padding: 1em 0;
    margin: 0;
}
.woocommerce-mini-cart__buttons a {
	display: inline-block;
}
.woocommerce-mini-cart__buttons a.checkout {
	float: right;
}
ul.woocommerce-thankyou-order-details,
.woocommerce-MyAccount-navigation ul {
    list-style: none;
    padding: 0 0 1.5em 0;
    margin: 0;
}
ul.woocommerce-thankyou-order-details li,
.woocommerce-MyAccount-navigation ul li {
	display: inline-block;
    border-width: 1px;
	border-style: solid;
    padding: 0 5px;
    margin: 2px;
}
.widget-area .woocommerce li span.amount {
	display: block;
}
.widget-area .woocommerce li del {
	opacity: 0.5;
	font-size: 80%;
}
/* WooCommerce Mini Cart */
.cartwoo-button {
	float: right;
	padding: 0 0.5em;
	position: relative;
}
.attesa_woocommerce_mini_cart {
	visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s,opacity 0.2s linear, transform 0.2s linear;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
    z-index: 10000;
    position: absolute;
    width: 330px;
    right: 0;
	padding-top: 12px;
}
.nav-top .top-block-right.invert .attesa_woocommerce_mini_cart {
	left: 0;
	right: inherit;
}
.cartwoo-button:hover .attesa_woocommerce_mini_cart,
.cartwoo-button:focus .attesa_woocommerce_mini_cart,
.cartwoo-button:active .attesa_woocommerce_mini_cart {
	visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.attesa_woocommerce_mini_cart .widget_shopping_cart_content {
	border-width: 1px;
	border-top-width: 5px;
    border-style: solid;
}
.attesa_woocommerce_mini_cart ul.product_list_widget {
	padding: 0;
	margin: 0;
	list-style: none;
	max-height: 370px;
    overflow-y: auto;
}
.attesa_woocommerce_mini_cart ul.product_list_widget li {
	padding: 1em;
	border-bottom-width: 1px;
    border-bottom-style: solid;
}
.attesa_woocommerce_mini_cart ul.product_list_widget li img {
	display: block;
    width: 70px;
}
.attesa_woo_cart_image_item {
	float: left;
	width: 25%;
}
.attesa_woo_cart_quantity_item {
	float: left;
	width: 75%;
	position: relative;
	padding: 0 2em 0 1em;
}
.attesa_woo_cart_quantity_item h3 {
	margin: 0;
	font-weight: 400;
}
.attesa_woocommerce_mini_cart .attesa_woo_cart_quantity_item h3 a {
    font-weight: 700;
}
.attesa_woocommerce_mini_cart .attesa_woo_cart_quantity_item .remove {
	position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
    line-height: 23px;
    text-align: center;
	border-style: solid;
	border-width: 1px;
    font-size: 16px;
	font-weight: 700;
	-o-transition: border-color .3s ease-in-out;
    -moz-transition: border-color .3s ease-in-out;
    -webkit-transition: border-color .3s ease-in-out;
    transition: border-color .3s ease-in-out;
}
.attesa_woocommerce_mini_cart .woocommerce-mini-cart__total {
	padding: 1em;
    font-size: initial;
	margin: 0;
}
.attesa_woocommerce_mini_cart .woocommerce-mini-cart__total span.amount {
	float: right;
}
.attesa_woocommerce_mini_cart .woocommerce-mini-cart__buttons {
	padding: 1em;
    margin: 0;
}
.attesa_woocommerce_mini_cart .woocommerce-mini-cart__buttons a {
	padding: 0.5em 1em;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
	font-weight: 700;
	-o-transition: border-color .3s ease-in-out;
    -moz-transition: border-color .3s ease-in-out;
    -webkit-transition: border-color .3s ease-in-out;
    transition: border-color .3s ease-in-out;
}
.attesa_woocommerce_mini_cart .woocommerce-mini-cart__buttons a.checkout {
    border-color: transparent !important;
	float: right;
	-o-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
.attesa_woocommerce_mini_cart p.woocommerce-mini-cart__empty-message {
	margin: 0;
    padding: 1em;
    text-align: center;
}
/* Compatibility with WooCommerce Wishlist Plugin */
ul.products li.product .tinvwl_add_to_wishlist_button span,
ul.products li.product .tinvwl_add_to_wishlist_button:before,
.woocommerce ul.products li.product a.compare:after {
	display: none;
}
ul.products li.product .tinvwl_add_to_wishlist_button {
	position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    padding: 0;
	opacity: 0.5;
	font-size: 13px;
	-o-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
ul.products li.product .tinvwl_add_to_wishlist_button:after {
	font-family: "Font Awesome 5 Free";
	content: "\f08a";
}
ul.products li.product .tinvwl_add_to_wishlist_button.tinvwl-product-in-list:after {
	content: "\f004";
}
/* Compatibility with YITH WooCommerce Compare */
.woocommerce ul.products li.product a.compare {
	text-indent: -9999px;
	position: absolute;
	top: 35px;
	right: 5px;
	margin: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    padding: 0;
	opacity: 0.5;
	font-size: 13px;
	-o-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.woocommerce ul.products li.product a.compare:before {
	font-family: "Font Awesome 5 Free";
	content: "\f074";
	text-indent: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 25px;
    height: 25px;
}
.woocommerce ul.products >li:hover .tinvwl_add_to_wishlist_button,
.woocommerce ul.products >li:hover a.compare {
	opacity: 1;
}
@media screen and (min-width: 1026px) {
	.cartwoo-button-mobile {
		display: none;
	}
}
@media all and (max-width: 1025px) {
	.cartwoo-button,
	.attesa_woocommerce_mini_cart {
		display: none;
	}
	.cartwoo-button-mobile {
		margin-left: 1em;
	}
	.nav-middle-top-title .cartwoo-button-mobile {
		display: inline-block;
	}
}
@media all and (max-width: 768px) {
	.woocommerce-store-notice a.woocommerce-store-notice__dismiss-link {
		display: block;
		padding: 0;
		position: relative;
		background-color: transparent;
		text-align: center;
	}
	.woocommerce-ordering, .woocommerce-result-count {
		width: 100%;
		text-align: center;
	}
	#customer_details,
	#order_review,
	#order_review_heading {
		width: 100%;
		float: left;
	}
	ul.products li.product .tinvwl_add_to_wishlist_button,
	.woocommerce ul.products li.product a.compare {
		opacity: 1;
	}
	.attesa-woocommerce-sticky-product .container {
		max-width: 100% !important;
	}
}
@media all and (max-width: 767px) {
	ul.products.columns-3 > li,
	ul.products.columns-4 > li,
	ul.products.columns-5 > li,
	.related.products .products > li {
		width: 100%;
	}
	.entry-content .woocommerce .form-row-first,
	.entry-content .woocommerce .form-row-last {
		width: 100%;
		float: left;
		padding: 0;
	}
}
@media all and (max-width: 600px) {
	body.woocommerce-page #content.site-content {
		padding: 3em 0;
	}
	.woocommerce-pagination > ul.page-numbers li a {
		padding: 1px 8px;
	}
	.woocommerce-pagination > ul.page-numbers li span {
		padding: 0px 8px;
	}
	.woocommerce .content-area .images, .woocommerce .content-area .summary {
		width: 100%;
		float: left;
	}
	.woocommerce div.product form.cart .variations td.label {
		padding: 8px;
	}
	.woocommerce p.stars a {
		display: block;
		border-right: none !important;
	}
	.woocommerce .woocommerce-tabs {
		margin: 1.5em 0;
	}
	.cart-collaterals .cart_totals, .cart-collaterals .shipping_calculator {
		width: 100%;
	}
	table.cart .product-thumbnail {
		display: none;
	}
	woocommerce-page table.cart td.actions .coupon {
		display: block;
		float: none;
		margin: 1em 0;
		text-align: center;
	}
	.woocommerce-page table.cart td.actions > input {
		margin: 0 auto;
		display: block;
	}
	.woocommerce-page table.cart td.actions {
		text-align: left;
	}
	.woocommerce .content-area .woocommerce-tabs .tabs li a {
		margin: 2px;
	}
	.woocommerce #reviews .commentlist li .avatar {
		position: relative;
	}
	.woocommerce #reviews #comments ol.commentlist li .comment-text {
		margin-left: 0;
	}
	.woocommerce-page .entry-content table {
		font-size: 80%;
	}
	ul.products.columns-2 > li {
		width: 100%;
	}
	.attesa-woocommerce-sticky-product {
		font-size: 80%;
	}
	.woocommerce-page table.cart td.actions .coupon #coupon_code {
		width: 40%;
	}
	.woocommerce-page table.cart td.actions button[name="update_cart"] {
		width: 100%;
	}
	.woocommerce span.onsale {
		left: -30px;
		top: 30px;
	}
}