/*
Theme Name: Attesa

Adding support for languages written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

https://codex.wordpress.org/Right-to-Left_Language_Support

*/

body {
	direction: rtl;
	unicode-bidi: embed;
}
.spaceLeft {
	margin-left: 0;
	margin-right: 0.5em;
}
.spaceRight {
	margin-right: 0;
	margin-left: 0.5em;
}
blockquote {
	padding: 1.5em 3.5em 1.5em 1.5em;
}
blockquote::before {
	left: inherit;
    right: 10px;
	transform: rotate(180deg);
}
.attesa-text-logo,
.nav-top .top-block-left,
.nav-middle .container .mainLogo,
.mainFooter .site-copy-down .site-info,
.widget.widget_search input[type="search"],
.widget.woocommerce.widget_product_search input[type="search"],
.woocommerce #content form.cart .quantity input[type="number"],
.attesa_woo_cart_image_item,
.widget_archive li a,
.widget_categories li a {
    float: right;
}
.nav-top .top-block-right,
.search-icon,
.cartwoo-button,
.cartedd-button,
.third-navigation,
.nav-middle .container .mainFunc,
.mainFooter .site-copy-down .site-social,
.widget.widget_search input[type="submit"],
.widget.woocommerce.widget_product_search button,
.woocommerce #content form.cart .button,
.attesa_woocommerce_mini_cart .woocommerce-mini-cart__buttons a.checkout,
.woocommerce-mini-cart__buttons a.checkout,
#payment .payment_methods li label a.about_paypal,
.woocommerce-error li a,
.woocommerce-message a {
    float: left;
}
.nav-top .top-block-left > span {
    padding-right: 0;
	padding-left: 1em;
}
.nav-top .top-block-left > span:last-child {
    padding-right: 0;
	padding-left: 0;
}
.hamburger-menu,
.site-social-header {
	margin-right: 1em;
    margin-left: 0;
}
header.site-header .site-branding.menuposition_left {
    padding-right: 0;
}
header.site-header .site-branding.menuposition_right {
    padding-left: 20px;
}
.main-navigation ul ul {
	padding-right: 0;
	float: right;
}
.main-navigation ul ul a,
.nav-middle .container .mainLogo,
.woocommerce-page .entry-content table td,
.woocommerce-page .entry-content table th {
	text-align: right;
}
.second-navigation li::after {
    margin-left: 0;
	margin-right: 0.5em;
}
.attesa_woocommerce_mini_cart {
	left: 0;
	right: inherit;
}
.widget .widget-title h3 {
	padding: 0 0 0.5em 1em;
}
.widget.widget_search input[type="submit"],
.widget.woocommerce.widget_product_search button,
.woocommerce #content form.cart .button {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.widget.widget_search input[type="search"],
.widget.woocommerce.widget_product_search input[type="search"],
.woocommerce #content form.cart .quantity input[type="number"] {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-right-width: 1px;
	border-left-width: 0;
}
.close-hamburger {
	right: initial;
    left: 1em;
}
.attesa_woocommerce_mini_cart .attesa_woo_cart_quantity_item .remove,
.widget_shopping_cart .product_list_widget li a.remove {
	right: initial;
	left: 0;
}
.widget_archive li, .widget_categories li,
.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous,
.theAuthorBox .theShare {
	text-align: left;
}
.widget.widget_archive li:before,
.widget.widget_edd_cart_widget li.edd-cart-item:before,
.widget.widget_edd_categories_tags_widget li:before {
    content: "\f0d9";
    padding-right: 0;
	padding-left: 0.5em;
    float: right;
}
.widget.widget_categories li:before,
.widget.widget_recent_comments li:before,
aside ul.product-categories li a:before {
    padding-right: 0;
	padding-left: 0.5em;
    float: right;
}
.widget.widget_categories ul.children {
    padding: 1em 1em 0 0;
}
body.attesa-blog-nogrid .blog-entries .sticky .entry-title {
    padding-left: 0;
	padding-right: 45px;
}
body.attesa-blog-nogrid .blog-entries .sticky .entry-header .entry-title:before,
.woocommerce #reviews .commentlist li .avatar {
	left: initial;
	right: 0;
}
.prev_next_buttons,
.attesa-prevnext-container {
    right: initial;
	left: 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin-left: 0;
	margin-right: 85px;
}
.attesa-woocommerce-sticky-product .container .attesa-sticky-second {
    float: left;
    margin-right: auto;
	margin-left: initial;
}
.entry-content .woocommerce .form-row-first {
    float: right;
    padding-right: 0;
	padding-left: 0,5em;
}
.entry-content .woocommerce .form-row-last {
    float: left;
    padding-left: 0;
	padding-right: 0.5em;
}
.woocommerce-info {
    padding: 1.5em 2.5em 1.5em 1.5em;
}
.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before {
	left: initial;
	right: 1em;
}
aside ul.menu .indiContainer,
aside ul.product-categories .indiContainer,
aside ul.menu .indicatorBar,
aside ul.product-categories .indicatorBar,
.attesa-search-button-mobile input[type="submit"] {
	right: initial;
    left: 0;
}
aside ul.menu ul.sub-menu,
aside ul.product-categories ul.children {
    padding-left: 0;
	padding-right: 1.5em;
}
.main-navigation ul {
	padding-right: 0;
}
.main-navigation ul ul li a:not(:last-child):after {
    content: "\f104";
	margin: 0 7px 0 0;
    float: left;
}
.main-navigation ul ul ul {
	right: 100%;
	left: initial;
}
.nav-middle-top-title .container .mainFunc .subFunc {
	float: left;
}
#comments article footer img,
.product_list_widget li img {
    float: right;
    margin-right: 0;
    margin-left: 1em;
}
#comments .reply {
    right: initial;
    left: 1.5em;
}
#comments ol ol {
    padding-left: initial;
    padding-right: 10%;
}
.comment-respond .comment-form-cookies-consent input {
	margin-right: 0px;
	margin-left: 8px;
}
.attesa-social-header-popup .site-social-header {
    margin-right: 0;
    margin-left: 0;
}
.imgRelated .owl-nav,
.widget.AttesaproInstagram .owl-nav {
    left: 0;
    right: initial;
}
.attesapro-footer-callout.left-style .attesapro-footer-callout-callout-part {
    float: left;
    margin-right: auto;
	margin-left: 0;
}
.owl-carousel .owl-nav button {
	float: left;
}
.attesa-post-slider .owl-nav {
    left: 2px;
    right: initial;
}
.attesa-contact-info i {
    margin: 0 0 0 15px;
    float: right;
}
.attesa-contact-info-wrap {
    float: right;
}
.woocommerce-message {
    padding: 1.5em 2.5em 1.5em 1.5em;
}
.authorImg {
    float: right;
    padding-left: 15px;
	padding-right: inherit;
}
.main-navigation li.invert ul {
	left: 100%;
	right: inherit;
}
.main-navigation > div > ul > li.invert > ul {
	left: 0;
	right: inherit;
}
@media all and (max-width: 1025px) {
	.cartwoo-button-mobile,
	.cartedd-button-mobile {
		margin-left: 0;
		margin-right: 1em;
	}
	.nav-middle.format_compat .container .mainHead {
		float: left!important;
	}
	.main-navigation > div > ul > li > a {
		text-align: right;
	}
	.main-navigation ul li .indicator {
		right: initial;
		left: 0;
		border-left-width: 0px;
		border-right-style: solid;
		border-right-width: 1px;
	}
	.main-navigation ul ul,
	.main-navigation ul ul ul {
		padding-left: 0;
		padding-right: 5%;
		float: none;
	}
	.nav-middle.format_featuredtitle .menu-toggle {
		text-align: right;
	}
	.nav-middle.format_featuredtitle .menu-toggle i {
		float: left;
	}
}
@media all and (max-width: 768px) {
	body.attesa-blog-nogrid .blog-entries .sticky .entry-title {
		padding-left: 0;
		padding-right: 36px;
	}
	.nav-middle-top-title .container .mainFunc .subFunc,
	.attesapro-footer-callout.left-style .attesapro-footer-callout-write-part,
	.attesapro-footer-callout.left-style .attesapro-footer-callout-callout-part,
	.attesapro-footer-callout.right-style .attesapro-footer-callout-write-part,
	.attesapro-footer-callout.right-style .attesapro-footer-callout-callout-part {
		float: none;
	}
	.comment-navigation .nav-previous,
	.posts-navigation .nav-previous,
	.post-navigation .nav-previous {
		text-align: center;
	}
}
@media all and (max-width: 767px) {
	.mainFooter .site-copy-down .site-social,
	.mainFooter .site-copy-down .site-info {
		float: none;
	}
}
@media all and (max-width: 600px) {
	body.attesa-blog-nogrid .blog-entries .sticky .entry-title {
		padding-left: 0;
		padding-right: 26px;
	}
}